<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Password checker</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002: Password checker</h1>
          </div>
		  <p><b>This project implements a tool that checks if the password we want to use has ever been hacked.
		  The script for this tool can be run from the command line and can accept multiple passwords to verify them.
		  <br><br>
		  For this verification of password it is used the API of the following web site:
		  <br>
		  <a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a>
		  <br>
		  This web site can detect if a password or an email have been ever appear in a leakage of informations.
		  <br><br>
		  The way the tool works is the following: it runs the script from the command line with the passwords that will 
		  be verified as arguments.
		  <br><br>
		  For each password the encryption algorithm SHA1 is applied so as not to send the password to the API in clear format.
		  Also for security reasons, the first 5 characters of the encrypted password are used because the website used uses the 
		  key anonymity technique. 
		  <br><br>
		  The key anonymity technique assumes that the API has a database with all the passwords that have been hacked, 
		  and all of these are encrypted with the SHA1 algorithm. So the API will look in this database and it will match all the passwords 
		  that start with those 5 characters that the script sends and all of those matches will be sent from API as response. 
		  After that all these passwords that are sent by the API are verified by the Python script using the following characters after 
		  those 5 initial from the password and verifying if those characters matches with the characters from the passwords returned
		  by the API.
		  <br><br>
		  Finally every match is counted and the tool will return the number of appearances of the respective password.
		  <br><br>
		  The github link to the project is the following one: <br>
		  <a href="https://github.com/Aandrei1997/password_check">https://github.com/Aandrei1997/password_check</a>
		  </p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>